/* google fonts Poppins */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&family=Poppins:wght@300;400;600&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
}
.image{
    position: relative;
    display: inline-flex;
    height: 150px;
    width: 150px;
    border-radius: 50%;
background-color: rgb(9, 9, 8);
padding: 3px;
}
.profile-image{
height: 100%;
width: 100%;
object-fit: cover;
border-radius: 50%;
border: 3px solid #fff;
}
.profile-card{
    max-width: 400px;
    width: 100%;
    background-color: #fff;
    border-radius: 24px;
    padding: 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.profile-card .textdata{
display: flex;
flex-direction: column;
align-items: center;
}
.textdata .name{
    font-size: 22px;
    font-weight: 500;
}
.profile-card .media-buttons{
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.media-buttons .link{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
height: 35px;
width: 35px;
border-radius: 50%;
margin: o 8px;
background-color: #4070fa;
text-decoration: none;
}